# SPDX-License-Identifier: ISC

# Ignore everything
*

# Include these specific files
!.clang-format
!.clang-tidy
!.clangd
!.editorconfig
!.gitignore
!LICENSE
!meson.build

# Include specific files from specific directories
!.github/
!.github/**/
!.github/**/*.yaml

!.vscode/
!.vscode/**/
!.vscode/**/*.json

!cmd/
!cmd/**/
!cmd/**/*.go
!cmd/**/*.md

!lib/
!lib/**/
!lib/**/*.go
!lib/**/*.md

!src/
!src/**/
!src/**/*.go
!src/**/*.md
